body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 36px;
	margin: 0;
}

header p {
	font-size: 18px;
	margin: 10px 0 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	background-color: #f2f2f2;
}

nav ul li {
	padding: 10px;
}

nav ul li a {
	color: #333;
	text-decoration: none;
}

nav ul li a:hover {
	color: #fff;
	background-color: #333;
}

main {
	margin: 20px;
}

.profile-picture {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.experience-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.experience-table th, .experience-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.experience-table th {
    background-color: #f2f2f2;
    color: #333;
}

/* Styles for Privacy Policy Page */
#privacy-policy body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
  }
  
  #privacy-policy header {
	background-color: #333;
	color: #fff;
	margin-bottom: 20px;
	padding: 20px;
  }
  
  #privacy-policy h1 {
	margin: 0;
	font-size: 36px;
  }
  
  #privacy-policy main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  #privacy-policy section {
	margin-bottom: 40px;
  }
  
  #privacy-policy h2 {
	font-size: 24px;
	margin-top: 0;
  }
  
  #privacy-policy ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  #privacy-policy li {
	margin-bottom: 10px;
  }
  
  #privacy-policy a {
	color: #333;
	text-decoration: underline;
  }
  
  #privacy-policy a:hover {
	color: #666;
  }
  footer a[href="privacy-policy.html"] {
	color: #fff;
  }  